<%- include('./partials/header') %>
<div class="justify-around mx-3 mt-4 flex flex-wrap" style="height: 90vh;">
    <% for(let i = 0; i < productos.length; i++){ %>
        <a href="./producto/<%=productos[i].uuid%>" class="block mx-2 rounded-lg mb-3 shadow-md shadow-fuchsia-700">
            <img alt="Home" src="<%=productos[i].url_tn_img%>" class="h-64 w-full rounded-md object-cover" />
            <div class="py-1 px-2">
              <dl>
                <div>
                    <dd class="text-xl font-bold text-gray-100"><%= productos[i].nombre%></dd>
                </div>
                <div>
                  <dd class="text-lg text-gray-200">S/ <%= productos[i].precio%></dd>
                </div>
              </dl>
            </div>
        </a>
    <% } %>
</div>
<%- include('./partials/footer') %>